.calculator-select {
    background: #3F4D7D;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;

    padding: 0 15px;
    position: relative;

    transition-delay: .5s;

    &.open {
        border-radius: 6px 6px 0 0;

        transition-delay: 0s;

        & .arrow {
            transform: scaleY(-1);
        }
    }

    &__head {
        height: 35px;
        display: flex;
        align-items: center;

        cursor: pointer;
    }

    &__img {
        flex-shrink: 0;

        margin-right: 20px;

        & img {
            display: block;
            width: 20px;
            height: 20px;
        }
    }

    &__title {
        font-weight: 500;
    }

    & .arrow {
        margin-left: auto;
    }
}