.contact-map {
    width: 100%;
    max-width: 700px;
    border: 1px solid #3A4143;
    border-radius: 6px;
    overflow: hidden;

    position: relative;

    &__container {
        height: 386px;
    }

    & .ymaps-2-1-79-map {
        width: 100%!important;
        height: 100%!important;
    }

    & .ymaps-2-1-79-ground-pane {
        filter: grayscale(1);
    }
    & .ymaps-2-1-79-zoom,
    & .ymaps-2-1-79-controls-pane,
    & .ymaps-2-1-79-copyrights-pane {
        display: none;
    }
    & .ymaps-2-1-79-hint__text {
        background: #E9E1DE;

        font-family: 'Inter', sans-serif;
        font-weight: 700;
    }

    &__block {
        background: #fff;
        mix-blend-mode: difference;
        pointer-events: none;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    @media (max-width: $large) {
        &__container {
            height: 376.6px;
        }
    }

    @media (max-width: $medium) {
        max-width: 1000px;
        width: 100%;

        &__container {
            min-width: 518px;
            height: 376px;
        }
    }

    @media (max-width: $small) {

        &__container {
            height: 320px;
            min-width: initial;
        }
    }
}