<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__logo">
                <svg class="logo-icon">
                    <use xlink:href="#logo"></use>
                </svg>
            </div>

            <div class="footer__menu">
                <menu class="menu">
                    <li>
                        <a href="#header">
                            Главная
                        </a>
                    </li>

                    <li>
                        <a href="#about">
                            О нас
                        </a>
                    </li>

                    <li>
                        <a href="#advantage">
                            Преимущества
                        </a>
                    </li>

                    <li>
                        <a href="#buy-crypto">
                            Обмен криптовалюты
                        </a>
                    </li>

                    <li>
                        <a href="#contact">
                            Контакты
                        </a>
                    </li>
                </menu>
            </div>
        </div>

        <div class="footer__bottom">
            <div class="footer-offer">
                <a href="privacy-policy.html">
                    Политика конфиденциальности
                </a>

                <a href="terms-of-use.html">
                    Пользовательское соглашение
                </a>

                <a href="terms-of-use.html">
                    Пользовательское соглашение
                </a>
            </div>

            <div class="footer__copyright">
                &#169; 2021 WINTERFOX EUROPE OÜ,<br> Harju maakond, Tallinn, Haabersti linnaosa, Rannamõisa tee 38d, 13516, LICENSE: FVT000430
            </div>
        </div>
    </div>
</footer>