<header class="header" id="header">
    <div class="container">
        <div class="header-navbar">
            <div class="header-navbar__logo">
                <svg class="logo-icon">
                    <use xlink:href="#logo"></use>
                </svg>
            </div>

            <div class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>

            <div class="header-menu">
                <menu class="menu">
                    <li>
                        <a href="#header">
                            Главная
                        </a>
                    </li>

                    <li>
                        <a href="#about">
                            О нас
                        </a>
                    </li>

                    <li>
                        <a href="#advantage">
                            Преимущества
                        </a>
                    </li>

                    <li>
                        <a href="#buy-crypto">
                            Купить криптовалюту
                        </a>
                    </li>

                    <li>
                        <a href="#contact">
                            Контакты
                        </a>
                    </li>
                </menu>

                <div class="header-contacts">
                    <div class="header-contacts__item">
                        <a href="https://t.me/wfoxio">
                            <svg>
                                <use xlink:href="#telegram"></use>
                            </svg>
                        </a>
                    </div>

                    <div class="header-contacts__item">
                        <a href="mailto:info@wfox.io">
                            <svg>
                                <use xlink:href="#e-mail"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="header-lang">
                <form method="post" action="/">
                    <input type="text" name="lang" value="en">
                    <button type="submit">en</button>
                </form>
            </div>
        </div>
    </div>
</header>